.news-ticker-item a,
p {
  margin: 0;
}

.news-ticker-item a {
  color: white;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0;
  text-decoration: none;
}

@media (width < 1100px) {
  .news-ticker-item > a {
    font-size: 1rem;
  }
}

@media (width < 900px) {
  .news-ticker-item > a {
    font-size: 1.3rem;
  }
}

.news-ticker-item > a:active {
  color: var(--soft-orange);
}

.news-ticker-item > p {
  color: var(--grayish-blue);
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-overflow: ellipsis;
}
.news-ticker-item > p {
  color: var(--grayish-blue);
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-overflow: ellipsis;
}

@media (width < 1100px) {
  .news-ticker-item > p {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media (width < 900px) {
  .news-ticker-item > p {
    font-size: 1rem;
    font-weight: 400;
  }
}
