#app {
  display: grid;
  max-width: var(--desktop-width);
  padding: 1rem;
  background-color: white;
  position: relative;
}

#content-container.blured {
  filter: blur(4px);
  z-index: 2;
  height: 100%;
}

@media (width < 900px) {
  #app {
    width: var(--mobile-width);
    padding-top: 2rem;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

@media (width < 900px) {
  .app-header {
    margin-bottom: 2rem;
  }
}

.app-header > img {
  height: 2.7rem;
}

@media (width < 900px) {
  .app-header > img {
    height: 2rem;
  }
}

main {
  z-index: 1;
}

#sidebar {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100%);
  background-color: white;
  z-index: 100;
}

#sidebar.hidden {
  display: none;
}
